<div class="Main_Wrapper">
  <div class="Main_Inner_Wrapper">
    <div class="row">
      <div class="col-md-12 Inner_Content">
        <p class="header">Question Bank</p>
        <select (change)="onChange($event)">
          <!-- <option value="">Please select...</option>
          <option value="thread1">Thread1</option>
          <option value="thread2">Thread2</option>
          <option value="thread3">Thread3</option>
          <option value="thread4">Thread4</option>
          <option value="thread5">Thread5</option> -->
          <option *ngFor="let thread of threadOption.treds" value={{thread.dbTred_code}}>{{thread.dbTred_code}}</option>
        </select><span (click)="CreateRow()">+ Create Question</span>
        <table class="tabel tabel">
          <thead>
            <tr>
              <th scope="col" sortable="email">Question</th>
              <th scope="col" sortable="phone">Weightage</th>
              <th scope="col" sortable="username">Active</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Data of QuestionData.questions.slice((page-1) * pageSize, page * pageSize)">
              <td>
                <div class="question">{{Data.qbmqB_QUESTION}}</div>
                <div class="ans">{{Data.qbmqB_ANSWER}}</div>
              </td>
              <td>
                <div class="Weightage">{{ Data.qbmqB_WEIGHTAGE }}</div>
              </td>
              <td><p *ngIf=Data.isactive>Active</p><p *ngIf=!Data.isactive>InActive</p></td>
              <td><button class="btn btn-danger DeleteButton" (click)="DeleteRow(Data.qbmqbI_ID)">X</button><button class="Editbutton" (click)="EditRow(Data)">Edit</button></td>
            </tr>
          </tbody>
          <ngb-pagination class="pagination" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5"
            [boundaryLinks]="true" [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="ShowForm" class="Popup_Wrapper">
    <div class="Popup_Inner_Wrapper">
      <form [formGroup]="QuestionForm">

        <label for="first-name">Thread: </label>
        <input id="first-name" type="text" value={{threadSelected}} readonly>

        <label for="last-name">Question: </label>
        <!-- <input id="last-name" type="text" formControlName="lastName"> -->
        <textarea id="last-name" formControlName="QBMQB_QUESTION"></textarea>
        <label for="last-name">Answer: </label>
        <!-- <input id="last-name" type="text" formControlName="lastName"> -->
        <textarea id="last-name" formControlName="QBMQB_ANSWER"></textarea>
        <label for="last-name">Weightage: </label>
        <!-- <input id="last-name" type="text" formControlName="lastName"> -->
        <input id="last-name" formControlName="QBMQB_WEIGHTAGE">

        <div><button class="submit" (click)="SubmitForm()">Submit</button><button class="cancel" (click)="HideForm()">Cancel</button></div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>